<div class="col-9">
        <div class="row">
            <div class="question-title">How to build a moon park?</div>
            <div class="question-text">Guys, i have trouble with a moon park. <br>
                Can't find th black-jack...<br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <a href="">answer(3)</a>
            </div>
            <div class="col-9">
                <div class="tags2">Tags:
                    <a href="">black-jack</a>
                    <a href="">black</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row question">
    <div class="col-3">
        <img src="../static/img/avatar1.png" alt="" class="question-img">
    </div>
    <div class="col-9">
        <div class="row">
            <div class="question-title">What are the main differences between CSS and HTML?</div>
            <div class="question-text">Is CSS responsible for the styling and layout of a webpage, while
                HTML is used for structuring and organizing the content.<br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <a href="">answer(3)</a>
            </div>
            <div class="col-9">
                <div class="tags">Tags:</div>
                <a href="">black-jack</a>
                <a href="">black</a>
            </div>
        </div>
    </div>
</div>
<div class="row question">
    <div class="col-3">
        <img src="../static/img/avatar1.png" alt="" class="question-img">
    </div>
    <div class="col-9">
        <div class="row">
            <div class="question-title">What programming languages are commonly used in IT?</div>
            <div class="question-text">Guys, i am troubled with in choice: which language i should
                practise.
                <br>
                Which one is most popular nowdays? ...<br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <a href="">answer(3)</a>
            </div>
            <div class="col-9">
                <div class="tags">Tags:</div>
                <a href="">black-jack</a>
                <a href="">black</a>
            </div>
        </div>
    </div>
</div>